<div class="wrapper">
  <div class="text-center">
    <h1>Programing Practice Site</h1>
    
    
    
    <div class="bg-light">
      <p>・ログイン機能</p>
      <p>・Bootstrap4</p>
      <p>・一対多/多対多(投稿、いいね、お気に入り)</p>
    </div>
  </div>
</div>